</head>
<header class="header">
    <h1>Guia Turístico Maranhense</h1>
</header>
<body class="index">
    <section class="Atrativos">
        <div class="city">
            <h3>São Luís</h3>
            <div class="city-details">
                <ul>
                    <li data-img="/back/public/assets/centroHistorico.png">
                        Centro Histórico
                        <div class="image-container">
                            <img class="city-image" src="" alt="Centro Histórico">
                        </div>
                    </li>
                    <li data-img="/back/public/assets/teatro.png">
                        Teatro Arthur Azevedo
                        <div class="image-container">
                            <img class="city-image" src="" alt="Teatro Arthur Azevedo">
                        </div>
                    </li>
                    <li data-img="/back/public/assets/palacio.png">
                        Palácio dos Leões
                        <div class="image-container">
                            <img class="city-image" src="" alt="Palácio dos Leões">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="city">
            <h3>Morros</h3>
            <div class="city-details">
                <ul>
                    <li data-img="/back/public/assets/arruda.png">
                        Cachoeira do Arruda
                        <div class="image-container">
                            <img class="city-image" src="/back/public/assets/arruda.png" alt="Centro Histórico">
                        </div>
                    </li>
                    <li data-img="/back/public/assets/praca.png">
                        Praça São Bernardo
                        <div class="image-container">
                            <img class="city-image" src="/back/public/assets/praca.png" alt="Teatro Arthur Azevedo">
                        </div>
                    </li>
                    <li data-img="/back/public/assets/aguas.png">
                        Parque das Águas.
                        <div class="image-container">
                            <img class="city-image" src="/back/public/assets/aguas.png" alt="Palácio dos Leões">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="city">
            <h3>Alcântara</h3>
            <div class="city-details">
                <ul>
                    <li data-img="/back/public/assets/matriz.png">
                        Praça da Matriz
                        <div class="image-container">
                            <img class="city-image" src="/back/public/assets/matriz.png" alt="Centro Histórico">
                        </div>
                    </li>
                    <li data-img="/back/public/assets/pelourinho.png">
                        Pelourinho
                        <div class="image-container">
                            <img class="city-image" src="/back/public/assets/pelourinho.png" alt="Teatro Arthur Azevedo">
                        </div>
                    </li>
                    <li data-img="/back/public/assets/igreja.png">
                        Igreja do Carmo
                        <div class="image-container">
                            <img class="city-image" src="/back/public/assets/igreja.png" alt="Palácio dos Leões">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="/back/public/js/script.js"></script>
</body>
<footer class="footer">
    <p>Desenvolvido por <a href="#">Felipe Passos</a>.</p>
</footer>
</html>
