<header class="header">
    <h1>GUIA TURÍSTICO MARANHENSE</h1>
</header>
<body>
    <main>
        <h2 id="cad">LOGIN</h2>
        <form id="loginForm" action="/login" method="POST">
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Entrar">
            </div>
            <p>Ainda não tem uma conta? <a href="/cadastrar">Crie uma.</a></p>
        </form>
    </main>
    <footer class="footer">
        <p>Desenvolvido por Felipe Passos</p>
    </footer>
</body>
</html>
